# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.envs/
venv*/

# Packaging
build/
dist/
*.egg-info/

# IDEs / editors
.vscode/
.idea/

# Logs and system files
*.log
.DS_Store
